// you can change colors here
$theme-color: #096dd9;

$font-family: 'Arial, Georgia, -apple-system, "Nimbus Roman No9 L", sans-serif';
$font-family-heading: 'Arial, Georgia, -apple-system, "Nimbus Roman No9 L", sans-serif';
