<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonMark.NET" version="0.15.1" targetFramework="net452" />
  <package id="i18n" version="2.1.15" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="Westwind.Globalization" version="3.0.5" targetFramework="net452" />
  <package id="Westwind.Globalization.Web" version="3.0.5" targetFramework="net452" />
  <package id="Westwind.Utilities" version="3.0.27" targetFramework="net452" />
  <package id="Westwind.Web" version="2.80.0" targetFramework="net452" />
</packages>