<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="WebGUI" type="Gizmox.WebGUI.Common.Configuration.ConfigHandler, Gizmox.WebGUI.Common, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=263fa4ef694acff6" />
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <section name="DbResourceConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <dataConfiguration defaultDatabase="SysDb" />
  <appSettings>
    <!-- Session Time out value is in minutes and could be changed to any desired value 
         RT2020 will logout the loggedin user when idle for the time specified
         remove this key will disable the Time out function. See RT2020.Public.Logon.AuthLogon() -->
    <add key="sessionTimeout" value="10" />
    <add key="Desktop" />
    <!-- Timeout Value used in SqlCommand in Seconds -->
    <add key="CommandTimeoutValue" value="600" />
    <add key="log4net.Internal.Debug" value="true" />
    <!-- 喺呢度選：用唔用 NetSqlAzMan 做 Access Control -->
    <add key="UseNetSqlAzMan" value="true" />
    <!-- RT2020.Bot: Swagger + Hangfire -->
    <add key="BotServer" value="http://192.168.12.143/RT2020.Bot" />
    <!-- RT2020 每個 table 可以支援 max 2 Alternate Languages, example CityName, CityNameAlt1 & CityNameAlt2 -->
    <add key="AlternateLanguagesUsed" value="2" />
    <add key="AlternateLanguage1" value="zh-CN" />
    <add key="AlternateLanguage2" value="zh-HK" />
  </appSettings>
  <connectionStrings>
    <add name="OleConn4Excel03" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties=Excel 8.0;" providerName="System.Data.OleDb" />
    <add name="OleConn4Excel07" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties=Excel 12.0;" providerName="System.Data.OleDb" />
    <add name="dbfConn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties=dBASE III;" providerName="System.Data.OleDb" />
    <add name="SysDb" connectionString="server=10.0.1.12;uid=sa;pwd=mc@24949981;database=RT2020;Connect Timeout=600;" providerName="System.Data.SqlClient" />
    <add name="NetSqlAzMan" connectionString="server=10.0.1.12;uid=sa;pwd=mc@24949981;database=NetSqlAzManStorage_RT2020;" providerName="System.Data.SqlClient" />
    <add name="RT2020Entities" connectionString="metadata=res://*/RT2020Model.csdl|res://*/RT2020Model.ssdl|res://*/RT2020Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.1.12;initial catalog=RT2020;user id=sa;password=mc@24949981;connect timeout=600;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <WebGUI>
    <!--  WEBGUI AUTHENTICATION MANAGEMENT
      This section defines the application authentication mode.
      Example: 
        <Authentication Mode="Dialog" Type="Ifn.W2.Web.POC.Forms.Logon, Ifn.W2.Web.POC" />
      Example Help: 
        Mode:
          Dialog - Authentication is done in a popup window
        Type:
          A full type name to handle logon (This class should inherit from the LogonForm)
    -->
    <Authentication Mode="Main" Type="RT2020.Public.Logon, RT2020" />
    <Languages>
      <Language Culture="en-US" />
      <Language Culture="he-IL" />
      <Language Culture="zh-CHS" />
      <Language Culture="zh-CHT" />
    </Languages>
    <!--Extension Value=".asmx"/-->
    <TimersEnabled Mode="On" />
    <InlineWindows Mode="On" />
    <ModalWindows Mode="Off" />
    <AspCompat Mode="Off" />
    <ForceHTTPS Mode="Off" />
    <!--  WEBGUI APPLICATION MANAGEMENT
      This section maps pages to application forms.
      Example: 
        <Application Code="MainForm" Type="MyCode.MainForm, MyCode"/>.
      Example Help: 
        The current application definition maps the full qualified class name to the 
        specifiec page code. This means that the link http://[host]/MainForm.wgx will
        be handles by the givven application form.
    -->
    <Applications>
      <Application Code="Desktop" Type="RT2020.Desktop, RT2020" Authentication="Default" Stateless="False" ForceSSL="False" />
    </Applications>
    <!--  WEBGUI CONTROL MANAGEMENT 
      This section registers controls so that the webgui server can expose there resources.
    -->
    <Controls>
      <Control Type="Gizmox.WebGUI.Forms.HeaderedPanel, Gizmox.WebGUI.Forms.Office, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=d50c2c7452ba77d9" />
      <Control Type="Gizmox.WebGUI.Forms.NavigationTabs, Gizmox.WebGUI.Forms.Office, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=d50c2c7452ba77d9" />
      <Control Type="Gizmox.WebGUI.Forms.SearchTextBox, Gizmox.WebGUI.Forms.Office, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=d50c2c7452ba77d9" />
      <Control Type="Gizmox.WebGUI.Forms.UploadControl, Gizmox.WebGUI.Forms.Extended, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=85eae29607c9f5f3" />
    </Controls>
    <!--  WEBGUI THEMES MANAGEMENT
      Selected - The currently selected scheme
    -->
    <Themes Selected="Vista">
      <Theme Name="iOS" Type="Gizmox.WebGUI.Forms.Themes.iOS, Gizmox.WebGUI.Forms.Themes, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=263fa4ef694acff6" MultiThemeSupport="On" />
      <Theme Name="Graphite" Type="Gizmox.WebGUI.Forms.Themes.Graphite, Gizmox.WebGUI.Forms.Themes, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=263fa4ef694acff6" MultiThemeSupport="On" />
      <Theme Name="Vista" Type="Gizmox.WebGUI.Forms.Themes.Vista, Gizmox.WebGUI.Forms.Themes, Version=4.5.25701.0, Culture=neutral, PublicKeyToken=263fa4ef694acff6" MultiThemeSupport="On" />
    </Themes>
    <!--  WebGUI RESOURCE MANAGEMENT
      Icons    - This maps the icon directory (Absolute\Relative path).
      Images    - This maps the images directory (Absolute\Relative path).
      Generated  - This maps the generated resources directory and is requiered for using custom controls (Absolute\Relative path).
      Data    - This maps the data directory which should contain data related files (Absolute\Relative path)  
    -->
    <Directories>
      <Directory Code="Icons" Path="Resources\Icons" />
      <Directory Code="Images" Path="Resources\Images" />
      <Directory Code="Generated" Path="Resources\Generated" />
      <Directory Code="UserData" Path="Resources\UserData" />
      <Directory Code="Assets" Path="Resources\Assets" />
      <Directory Code="Reports" Path="Resources\Reports" />
      <Directory Code="Upload" Path="C:\Shared\RT2020\Import\" />
      <Directory Code="Download" Path="C:\Shared\RT2020\Export\" />
      <Directory Code="RTImages" Path="C:\Shared\RT2020\RTImages\" />
    </Directories>
    <!-- WEBGUI STATIC RESOURCES MANAGMENT
      The mechanism should be used in a deployment scenario to boost performance. The static
      resoruces mode creates a directory named "Route" and with in it files that are accessed
      directly using the web server instead of dynamicly generated files. You should check that
      there the site can write to that directory.
    -->
    <StaticResources Mode="Off" />
    <!--
      WEBGUI PRIVATE VERSION
      Adds the private version key to the caching key. This key provides a mechanism to invalidate
      both client and server caching. You should use this key when you are delpoying a theme or  
      a new custom control. The server and client caching are per site.
    -->
    <PrivateVersion Value="5" />
    <!--
      WEBGUI PRELOADING
      Chaning the Mode to "On" enables icon preloading mechanism. This mainly prevents IE
      loading the same image multiple times.
    -->
    <IconsPreloading Mode="Off" />
    <InlineWindows Mode="On" />
    <ShowLGPLWaiver Mode="Off" />
    <ApplicationName Value="RT2020" />
    <Includes></Includes>
  </WebGUI>
  <system.diagnostics>
    <switches>
      <!--
      Provides a mechanism for monitor an application using a debug messages viewer or
      in debug time in the output window. Remember to turn turn this feature off in 
      a deplyment scenario.
      0 - Disabled
      1 - Gives error messages
      2 - Gives errors and warnings
      3 - Gives more detailed error information
      4 - Gives verbose trace information
      -->
      <add name="VWG_TracingSwitch" value="0" />
      <!--
      Performance tracing limited to this threshold
      -->
      <add name="VWG_TracingThresholdSwitch" value="10" />
      <!--
      Disables the caching of Visual WebGui resources
      -->
      <add name="VWG_DisableCachingSwitch" value="0" />
      <!--
      Disables client sources obscuring (Mainly for debugging and developing purposes)
      0 - Disabled
      1 - Enabled
      -->
      <add name="VWG_DisableObscuringSwitch" value="1" />
      <!--
			0 - Disabled
			1 - Enabled
			-->
      <add name="VWG_ShowDebuggerSwitch" value="0" />
    </switches>
    <!-- log4net -->
    <trace autoflush="true"><listeners><add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\temp\log4net.txt" /></listeners></trace></system.diagnostics>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="wgx" verb="*" preCondition="integratedMode" path="*.wgx" type="Gizmox.WebGUI.Server.Router,Gizmox.WebGUI.Server,Version=4.5.25701.0,Culture=neutral,PublicKeyToken=3de6eb684226c24d" />
      <add name="ASPxUploadProgressHandler" preCondition="integratedMode" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add name="JavaScriptResourceHandler" verb="GET" path="JavascriptResourceHandler.axd" type="Westwind.Globalization.JavaScriptResourceHandler,Westwind.Globalization.Web" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
    <modules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add name="ScriptCompressionModule" type="Westwind.Web.ScriptCompressionModule,Westwind.Web" />
    </modules>
  </system.webServer>
  <system.web>
    <!--<httpRuntime maxRequestLength="100000" requestValidationMode="2.0" />-->
    <!-- <identity impersonate="true" userName=".\Administrator" password="sy-1208" /> -->
    <httpHandlers>
      <add path="*.wgx" verb="*" type="Gizmox.WebGUI.Server.Router,Gizmox.WebGUI.Server,Version=4.5.25701.0,Culture=neutral,PublicKeyToken=3de6eb684226c24d" />
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
      <add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add name="ScriptCompressionModule" type="Westwind.Web.ScriptCompressionModule,Westwind.Web" />
    </httpModules>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="DevExpress.Web.ASPxPivotGrid.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Printing.v15.2.Core, Version=15.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.PivotGrid.v15.2.Core, Version=15.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraPivotGrid.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraEditors.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Utils.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.RichEdit.v15.2.Core, Version=15.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxThemes.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off" />
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Windows" />
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*" />
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" stateNetworkTimeout="360000" timeout="360000" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    -->
    <globalization culture="auto:en-US" uiCulture="auto:en-US" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="utf-8" resourceProviderFactoryType="Westwind.Globalization.DbSimpleResourceProviderFactory,Westwind.Globalization.Web" />
    <httpRuntime executionTimeout="3600" maxRequestLength="1024000" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="Westwind.Utilities" />
        <add namespace="Westwind.Web" />
        <add namespace="Westwind.Globalization" />
      </namespaces>
    </pages>
    <trust originUrl="(https://translate.googleapis.com/translate_a/single)|(https://www.googleapis.com/language/translate/v2)|(http://api.microsofttranslator.com/V2/Http.svc/Translate)|(https://datamarket.accesscontrol.windows.net/v2/OAuth2-13)" />
  </system.web>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Html5" rightToLeft="false" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <DbResourceConfiguration>
    <add key="ConnectionString" value="SysDb" />
    <add key="ResourceTableName" value="Localizations" />
    <add key="ResxExportProjectType" value="Project" />
    <add key="StronglyTypedGlobalResource" value="~/Properties/Resources.cs" />
    <add key="ResourceBaseNamespace" value="RT2020.Properties" />
    <add key="ResxBaseFolder" value="~/Properties/" />
    <add key="AddMissingResources" value="False" />
    <add key="LocalizationFormWebPath" value="~/LocalizationAdmin/" />
    <add key="BingClientId" value="" />
    <add key="DataProvider" value="SqlServer" />
    <add key="ActiveConfiguration" value="" />
    <add key="StringLocalizerResourcePath" value="Properties" />
    <add key="ResourceAccessMode" value="DbResourceManager" />
    <add key="GoogleApiKey" value="" />
  </DbResourceConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FastReport" publicKeyToken="5ceb240df42bf6e8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2021.3.29.0" newVersion="2021.3.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.20.0.0" newVersion="2.20.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>